<hr>
<div class="col-md-12 text-center"><p>Copyright © 2014 Facelook. All right reserved.</p></div>
<hr>

<!--
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"></a>
    </div>
  </div>
</div>

-->
<!--
    <div class="footer-wrapper">
      <footer> Copyright © 2014 Facelook. All right reserved. </footer>
    </div>
-->



