<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" href="sticky.css" />
</head>

<body>

<!--
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"></a>
    </div>
  </div>
</div>

-->
 <div class="container">
  <div class="content">

    <div class="wrapper">
     <div class="proper-content">

        <div class="row">
          <div class="span12">

          </div>
          <div class="span12">

          </div>
        </div>






      </div><!-- /.proper-content -->

     <div class="push">  </div>


    </div>  <!-- /.wrapper -->

    <div class="footer-wrapper">
      <footer> Copyright © 2014 Facelook. All right reserved. </footer>
    </div>
  </div>
</div>
</body>
</html>