<!-- HEADER -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <div class="row">

    <%= render partial: "left", locals: {user: @user} %>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">

      <%= render partial: "search", locals: {friends: @friends} %>

    </div>

    <%= render partial: "right", locals: {user: @user} %>

  </div>

</div>
