<!-- HEADER -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <div class="row">

    <!-- LEFT COLUMN -->
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">View all</a>
          <h4><i class="glyphicon glyphicon-inbox" style="color:#dd0309"></i>&nbsp;Messages</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Message 1</a>
            <a href="" class="list-group-item">Message 2</a>
            <a href="" class="list-group-item">Message 3</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">View all</a>
          <h4><i class="glyphicon glyphicon-bell" style="color:#dd0309"></i>&nbsp;Notifications</h4>
        </div>
        <div class="panel-body">
          <div class="clearfix"></div>
          More more more more...
        </div>
      </div>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">

      <!-- All post of user will be shown -->
      <%= render partial: "post", locals: {user: @user, is_home: true} %>

    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">View all</a>
          <h4><i class="glyphicon glyphicon-retweet" style="color:#2262dd"></i>&nbsp;Requests</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Request 1</a>
            <a href="" class="list-group-item">Request 2</a>
            <a href="" class="list-group-item">Request 3</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">View all</a>
          <h4><i class="glyphicon glyphicon-star-empty" style="color:#2262dd"></i>&nbsp;Events</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="http://bootply.com/tagged/bootstrap-3" class="list-group-item">Event 1</a>
            <a href="http://bootply.com/tagged/snippets" class="list-group-item">Event 2</a>
            <a href="http://bootply.com/tagged/example" class="list-group-item">Event 3</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type='text/javascript'>

    /* toggle layout */
    $('#btnToggle').click(function () {
        if ($(this).hasClass('on')) {
            $('#main .col-md-6').addClass('col-md-4').removeClass('col-md-6');
            $(this).removeClass('on');
        }
        else {
            $('#main .col-md-4').addClass('col-md-6').removeClass('col-md-4');
            $(this).addClass('on');
        }
    });

</script>

