<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag "facebook" %>

<%= render partial: "header", locals: {user: @user} %>

<!--main-->
<div class="container" id="main">

  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Messages</h4></div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Message 1</a>
            <a href="" class="list-group-item">Message 2</a>
            <a href="" class="list-group-item">Message 3</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>More Something</h4></div>
        <div class="panel-body">
          <div class="clearfix"></div>
           More more more more...
        </div>
      </div>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">
      <div class="well">
        <form class="form-horizontal">
          <h4>What's New</h4>

          <div class="form-group" style="padding:14px;">
            <%= text_area_tag :post, nil, :placeholder => "What do you think?", :class => "form-control" %>
          </div>
          <%= button_tag "Post", :class => "btn btn-success", :type => "button" %>
        </form>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading"><h4>Post</h4></div>
        <div class="panel-body">
          Post post post
          <hr>
          <form>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default">+1</button>
                <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
              </div>
              <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Requests</h4></div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Request 1</a>
            <a href="" class="list-group-item">Request 2</a>
            <a href="" class="list-group-item">Request 3</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Events</h4></div>
        <div class="panel-body">
          <div class="list-group">
            <a href="http://bootply.com/tagged/bootstrap-3" class="list-group-item">Event 1</a>
            <a href="http://bootply.com/tagged/snippets" class="list-group-item">Event 2</a>
            <a href="http://bootply.com/tagged/example" class="list-group-item">Event 3</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type='text/javascript'>

    /* toggle layout */
    $('#btnToggle').click(function () {
        if ($(this).hasClass('on')) {
            $('#main .col-md-6').addClass('col-md-4').removeClass('col-md-6');
            $(this).removeClass('on');
        }
        else {
            $('#main .col-md-4').addClass('col-md-6').removeClass('col-md-4');
            $(this).addClass('on');
        }
    });

</script>

