// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #FFFFFF;
  font-family: 'Open Sans', Arial;
  font-size: 1em;
}

.login_logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a{
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none; color: #EC5C93;
}
h1{
  text-align: center;
  color: #555;
  font-size: 38px;
  font-weight: 300;
}
.login{
  background: #F7F7F7;
  border-radius: 2px;
  text-align: center;
  color: #36383C;
  text-shadow: 0 1px 0 #FFF;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px 40px 40px 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);;
}

.register{
  padding-bottom: 20px;
  text-align: left;
}

h2{
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 18px;
  font-weight: 300;
  color: #555;
}

.select_field{
  width: 100%;
  height: 30px;
  font-size: 16px;
  background-color: whitesmoke;
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
}

.input_field{
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  padding: 0px 8px;
  margin-top: 5px;
  background: none repeat scroll 0% 0% #FFF;
  border-radius: 2px;
  height: 30px;
  font-size: 16px;
  width: 100%;
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button{
  margin-top: 20px;
  display: block;
  width: 100%;
  line-height: 2em;
  background: rgba(54, 129, 215, 1);
  border-radius: 2px;
  border:0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
button:hover{
  background: linear-gradient(to bottom, rgba(54, 129, 215, 1) 0%,rgba(8, 84, 173, 1) 100%);
}
button:active{
  box-shadow: inset 0px 0px 5px #555;
  background: linear-gradient(to bottom, rgba(54, 129, 215, 1) 0%,rgba(69, 152, 251, 1) 100%);
}
.notice, .valid_notice, .invalid_notice{
  height:35px;
  display: block;
  width: 100%;
  margin:auto;
  margin-top: 20px;
}
.notice, .invalid_notice p, .valid_notice p{
  text-align:center;
  margin-top:6px;
}

.notice{
  background-color: transparent;
}

.invalid_notice{
  background-color: #FFCCCC;
  border:1px solid red;
}
.valid_notice{
  background-color: #CCFFCC;
  border:1px solid green;
}

